<h1>Découverte Angular</h1>

<a no-open href="https://google.com">Google !</a>

<counter [initial-value]="5" [step]="10"></counter>
<user-profile
  [hired]="false"
  first-name="Lior"
  last-name="Chamla"
  job="Professeur"
></user-profile>

<user-profile
  user-profile
  [hired]="true"
  first-name="Magali"
  last-name="Pernin"
  job="Juriste"
></user-profile>



<a
  confirm
  confirm-message="Es tu sûr de vouloir aller sur la poubelle du web ?"
  href="https://twitter.com"
  target="_blank"
  >Twitter !</a
>
<p highlight background-color="green" base-color="purple">
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem
  repellat maxime nostrum molestias error asperiores, modi eius ad quaerat,
  similique nobis laborum nulla voluptas distinctio.
</p>
<p highlight>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni excepturi cum
  dignissimos temporibus quidem consequuntur.
</p>

<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus laudantium
  voluptatem odit, non aut aspernatur dignissimos, in praesentium fugiat magni,
  provident reiciendis perferendis est ipsam?
</p>
